* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page-box{
  width: 800px;
  margin: auto;
  height: 600px;
  padding: 10px;
  border: springgreen 1px solid;
}
.list-group a{
  display: block;
  padding: 10px;
  
}

.activeName{
  background: rgb(83, 80, 245);
  color: #fff;
}
.page-header{
  height: 20%;
  border-bottom: 3px solid #000;
}
.content {
  height: 80%;
  display: flex;
}
.list-group {
  width: 20%;
}
.content-text{
  flex: 1;
  height: 100%;
  border: 1px solid #ededed;
}